## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.idea/
*.sln.docstates
.vscode/

## OS
Thumbs.db
.DS_Store
